  <div class="row details" *ngIf="movie">
    <div class="col-4 mt-5">
        <div>
            <img src="{{movie.posterPath}}" alt="{{movie.title}}" class="image-thumbnail">
        </div>
    </div>
    <div class="col-8 mt-5 text-white">
        <div class="d-flex align-items-start flex-column">
            <div class="mr-auto p-2">
                <h3>{{movie.title}} ({{movie.releaseDate | date: 'y'}})</h3>
            </div>
            <div class="p-2">
                <h5 class="text-muted">Rating</h5>
                <p class="ml-3" (click)="open(content)"><i style="font-size: 1.8em; color: #f5c518;" class="fa fa-star mr-2"></i>
                    <span class="rating h5">{{movie.averageRating}}<span class="text-muted">/5</span></span></p>
            </div>
            <div class="p-2">
                <h5 class="text-muted">Your rating</h5>
                  <p class="ml-3" (click)="open(content)"><i style="font-size: 1.8em;color: #5799ef; cursor: pointer;" class="fa fa-star-o mr-2 vote-icon"></i>
                    <span class="rating h5"></span></p>
            </div>
            <div class="p-2">
                <h5 class="text-muted">Release date </h5>
                <p>{{movie.releaseDate | date: 'longDate'}}</p>
            </div>
            <div class="p-2"> 
              <h5 class="text-muted">Movie Description</h5>
              <p>{{movie.overview}}</p>
          </div>
        </div>
        
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title text-white" id="modal-basic-title">{{movie.title}}</h4>
      <button type="button" class="close text-white" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <ngb-rating class="rating-star" [(rate)]="movie.averageRating"></ngb-rating>
        <p>Rate: <b>{{movie.averageRating}}</b></p>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="rateMovie()" (click)="modal.close()">Rate</button>
      <button type="button" class="btn btn-outline-danger" (click)="removeRating()" (click)="modal.close()">Remove rating</button>
    </div>
  </ng-template>
  


