<div class="container mt-5" *ngIf="accountService.currentUser$ | async">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/movies">Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/errors">Errors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
    </ul>
    <!-- <tabset class="movie-tabset">
      <tab heading='Movies'><a routerLink="/movies"></a></tab>
      <tab heading='Errors' routerLink="/errors"></tab>
      <tab heading='Logout' (click)="logout()"></tab>
    </tabset> -->
</div>



