<div class="container mt-5 mb-3" *ngIf="accountService.currentUser$ | async">
    <ul class="nav nav-pills" *ngIf="router.url == '/movies'">
      <li class="nav-item">
        <a class="nav-link active bg-light mr-1 text-dark" aria-current="page" routerLink="/"><i class="fa fa-home" aria-hidden="true"></i>
          Home</a>
      </li>
        <li class="nav-item">
          <a class="nav-link active bg-warning text-dark" aria-current="page" routerLink="/movies"><i class="fa fa-film" aria-hidden="true"></i>
            Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link logout" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
        </li>
    </ul>
</div>



