<div class="cover-container d-flex h-100 p-3 mx-auto flex-column text-center text-white">
    <header class="masthead mb-auto">
    <div class="inner">
        <h3 class="masthead-brand">Movie Centric</h3>
    </div>
    </header>

    <main role="main" class="inner cover">
    <p class="lead"><b>Movie Centric</b> is an online database of information related to films, television programs, home videos, 
        video games, and streaming content online</p>
    <p class="lead">
        <span *ngIf="accountService.currentUser$ | async">
            <a href="#" class="btn btn-lg btn-outline-warning" routerLink='/movies'>Get Started</a>
        </span>
        <span *ngIf="!(accountService.currentUser$ | async)">
            <a href="#" class="btn btn-lg btn-outline-warning" routerLink='/login'>Get Started</a>
        </span>
        
    </p>
    </main>

    <footer class="mastfoot mt-auto">
    <div class="inner">
        <p>All rights reserved | 2021 Ahmed Halač </p>
    </div>
    </footer>
</div>


